.a-tag {
    margin-bottom: 1rem;

    .ant-tag {
        border-radius: 0.4rem;
        background-color: #fff3eb;
        color: #ff4500;
        font-weight: 700;
        font-size: 1.4rem;
        padding: 0.4rem 0.8rem;
        margin-top: 0.5rem;
        margin-right: 0.4rem;
    }

    .ant-tag-checkable-checked {
        background-color: #f6f7f9;
    }
}
