.a-button {
  display: block;
  border-radius: 4px;
  width: 15.2rem;
  height: 80%;
  padding: 1.2rem;

  .ant-row {
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.a-button:hover {
  box-shadow: 0.2rem 0.4rem 0.8rem 0 #5b190014 !important;
}

/* 1. Primary */
.atom-button-primary-default {
  color: #fff !important;
}

.atom-button-primary-disabled {
  background-color: #767f85 !important;
}

/* 2. Secondary */
.atom-button-secondary-disabled {
  background-color: #e7e7e7 !important;
  border-color: #767f85 !important;
  color: #767f85 !important;
}

/* 3. Ghost */
.atom-button-ghost-disabled {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #767f85 !important;
}

/* 4. Accent */
.atom-button-accent-disabled {
  background-color: #767f85 !important;
  border-color: transparent !important;
  color: #fff !important;
}
