/* // Adjust this to include the pixel amounts you need.
// width and height, margin and padding */

$space-amount-custom: 10 20 30 40 50 60 70 80 90 100 150 350;

$opacity-custom: 70, 80;
$border-radius-custom: 6, 12;
$border-width-custom: 3, 6;
$stroke-width-custom: 3;
$zindex-custom: -10, 1;
$font-size-custom: 8, 14, 16, 20, 56;
$pos-trbl-custom: 25, 99;
$percent-custom: 62, 75, 120;