.o-form-switch {
    margin-left: 2rem;
    width: 34.3rem;
    border-radius: 0.8rem;
    padding: 1.6rem;
    box-shadow: 0.4rem 0.4rem 1rem 0 rgba(60, 60, 60, 0.06);
    background-color: #fff;

    .ant-form {
        .ant-row {
            .ant-form-item {
                margin-bottom: 1.6rem;
                .ant-form-item-label {
                    label {
                        font-weight: 700;
                        font-size: 1.6rem;
                        color: #121212;
                    }
                }

                .ant-form-item-control {
                    .ant-select {
                        height: 4.8rem;
                        .ant-select-selector {
                            font-size: 1.6rem;
                        }
                    }

                    textarea {
                        height: 10.8rem;
                    }
                }

                .ant-input {
                    padding: 1.2rem;
                    border-color: #abb8c5;
                    border-radius: 0.4rem;
                    &::placeholder {
                        color: #abb8c5;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .o-form-btn-submit {
            button {
                width: 100%;
            }
        }
    }
}
